.bold {
	font-weight: bold;
}

.section { 
	font-weight: bold;
	font-size: 20px;
}

.jobTitle {
	font-style: italic;
}

h1 {
	text-decoration: underline;
}

body {
	background-color: #e5f1ff;
}

img {
	width: 220;
	height: 300;
}
